.main-background {
  /* background-color: #ebe8e7 !important; */
  height: 94vh;
  width: 100%;
}
.a-login {
  color: #df4323;
}
/* .fulls{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  z-index: 0 !important;
  background-color: #F5F2F2 !important;
} */
