.main-background {
  /* background-color: #ebe8e7 !important; */
  height: 94vh;
  width: 100%;
}
.a-login {
  color: #df4323;
}
/* .fulls{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  z-index: 0 !important;
  background-color: #F5F2F2 !important;
} */

.datePicker {
  width: 200px !important;
  height: 200px !important;
}

.datePickerTask {
  width: 200px i !important;
  margin-bottom: 20px;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow {
  background-color: rgba(255, 188, 181, 0.158) !important;
}

.rec.rec-arrow:hover {
  background-color: #f5a494 !important;
}

.rec.rec-dot_active {
  background-color: rgba(255, 188, 181, 0.664) !important;
}

.rec-dot:active {
  box-shadow: 0 0 1px 3px #f5a494 !important;
}

.cetQhm {
  box-shadow: 0 0 1px 3px #f5a494 !important;
}
.bQjoUN:hover {
  box-shadow: 0 0 1px 3px #f5a494 !important;
}

.btn-primary {
  background-color: #cacaca !important;
  border-color: #f58472 !important;
  color: black !important;
}
