.main {
  display: inline-flex;
  height: 100%;
  width: 100%;
  padding-left: 170px;
}

.test {
  height: 500px;
  width: 500px;
  margin-top: 20%;
}

.space {
  width: 200px;
}
.Btn{
  margin-left: 1%;
  margin-right: 73%;
}