.button-bg{
    background-color: #F5F2F2 !important;
    box-shadow: 2px 2px 5px #c3c3c3;
}

.main-shadow{
    box-shadow: 3px 3px 5px #c3c3c3;
}

.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}